@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


/* .fi-body {
    background-color: red !important;
}

.fi-simple-main {
    background-color: red;
} */

body {
    margin-bottom: 0 !important;
}

.fi-breadcrumbs {
    display: none !important;
}

.fi-dropdown-panel .fi-dropdown-list:nth-of-type(2):has(.fi-theme-switcher-btn) {
    background-color: red !important;
    display: none !important;
}

.fi-simple-header-heading {
    display: none !important;
}

.fi-sidebar-item-active .fi-sidebar-item-grouped-border .relative{
    background-color: white !important;
}

.fi-sidebar-item.fi-sidebar-item-active a:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(var(--primary-500), var(--tw-bg-opacity)) !important;
}