@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


/* .fi-body {
    background-color: red !important;
}

.fi-simple-main {
    background-color: red;
} */

body {
    margin-bottom: 0 !important;
}

.fi-breadcrumbs {
    display: none !important;
}

.fi-simple-header-heading {
    display: none !important;
}


.fi-dropdown-list:nth-child(2) {
    display: none !important;
}
